<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAGOYAMESHI</title>
</head>
<body>
    <div>
        <div>
            <a href="{% url 'accounts:login' %}">ログインはこちらから ></a>
        </div>
        <div>
            <!-- メールアドレス -->
            <label for="email">メールアドレス:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <!-- パスワード -->
            <label for="password">パスワード:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <!-- パスワード確認 -->
            <label for="password_confirm">パスワード確認:</label>
            <input type="password" id="password_confirm" name="password_confirm" required>
        </div>
        <div>
            <button type="submit">新規登録</button>
        </div>
    </div>
</body>
</html>