<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAGOYAMESHI</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div>
            <!-- ハンバーガーメニュー -->
            <div>
                <img src="" alt="ハンバーガーメニュー">
            </div>
            <!-- 検索バー -->
            <div>
                <form action="{% url 'shops:shop_search' %}" method="GET" id="search-form">
                    <input id="search-input" type="text" name="q" placeholder="検索" value="{{ request.GET.q }}">
                    <button id="search-button" type="submit">検索</button>
                </form>
            </div>
            <!-- アプリロゴ -->
            <div>
                <img src="" alt="アプリロゴ">
            </div>
        </div>
        <div>
            <!-- ログインボタン -->
            {% if not user.is_authenticated %}
            <div>
                <p>NAGOYAMESHIにようこそ</p>
                <div>
                    <a href="{% url 'accounts:login' %}">ログイン</a>
                    <a href="{% url 'accounts:register' %}">新規登録</a>
                </div>
            </div>
            {% endif %}
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 NAGOYAMESHI</p>
    </footer>

    <script src="main.js"></script>
</body>
</html>
